dbpath={{ mongodb_datadir_prefix }}
port={{ mongodb_port }}
syslog=True
fork=True
rest=True
auth=True
keyFile={{ mongodb_config_location }}{{ mongodb_keyfile_name }}
smallfiles=True
{% if mongodb_version | version_compare('3.0', '>=') %}
storageEngine={{ mongodb_storage_engine }}
{% endif %}
